.cajapadre1{
    background-color:#eee;
    margin: auto;
    width: 30rem;
    height: 50rem;
}

.imagen1{
    width: 30rem;
    height: 25rem;
}

.titulo{
    font-size: 1.7rem;
    margin: 20px;
}

.parrafo1{
    font-size: 1.3rem;
    margin: 20px;
    font-family: arial;
    color: #828282;
}

.like{
    width: 2rem;
    height: 2rem;
}

.like1{
    display: flex;
    margin: 20px;

}

.megusta{
    display: flex;

}

.megusta:hover{
    background-color: aqua;

}

.comentario{
   margin-left: 5rem;
   width: 2rem;
    height: 2rem;

}

.comen{
    display: flex;
}
